body {
    background-color: rgb(223, 223, 223);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 40px;
}



.container-col-item {
    height:fit-content;
    min-height: 100px;
    background-color: white;
}

.container-col-item img {
    width:100%;
}