
.nav-link {
    font-size: 1.3rem;
}

.active  {
    background-color: #849FFF;
    color: white !important;
    border-radius: 0.5rem ;
}

.person {
    padding: 1rem;
    background-color: #FBFCFF;
    border-radius: 0.5rem;
}

.person-tag {
    display: flex;
    flex-direction: row;
}

.person-tag-item {
    border: 1px solid #BFC8E6;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
    color:  #516FD4;
    padding: 0.3rem;

}

.selection {
    
    border: 1px solid #BFC8E5;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
}