.container {
    margin: auto;
    width: 800px;
    height: auto;
    border: 1px gray solid ;
    background-color: beige;
    display: block;
    /* display:flex; */
}

/* div 1 */
.searchBar {
    text-align: center;
    display: block;
    margin: 20px;
    font-family: sans-serif;
}

input {
    height: 30px;
    width: 250px;
}

h1 {
    font-family: sans-serif;
    margin-top: 20px;
}
/* div2 */
h2 {
    font-family: sans-serif;
}

#bookList {
    /* background-color: rgb(48, 48, 117); */
    margin: 20px;;
    
}

/* a Row, contain a book item, and a button to delete */
.bookRow {
    width: 100%;
    color: white;
    font-family: sans-serif;
    margin: 0px 20px 20px 0px;
    display: inline-flex;
}


.bookItem {
    background-color: rgb(31, 100, 18);
    color: white;
    font-family: sans-serif;
    width: 85%;
    /* margin-right: 20px; */
    height: 40px;
    line-height: 40px;
    padding: 10px;
    font-size: 20px;    
}

.bookItem:hover {
    background-color: rgb(143, 180, 149);
}

/* active and deactive status, which book will be line through when deactive */
.active {
    text-decoration: line-through;
}

.deactive {

}
/* delete button to del a book */
.bookItem-del-btn {
    background-color: rgb(201, 134, 34);
    border: none;
    width: 15%;
    color: white;
}

.bookItem-del-btn:hover {
    color: black;
    background-color: rgb(201, 150, 75);
}




/* Div 3 */
.form-add-book {
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
}

#myForm button {
    height: 35px;
    background-color:rgb(201, 134, 34);
    border: none;
    /* width: 15%; */
    color: white;
}

#myForm button:hover {
    color: black;
    background-color: rgb(201, 150, 75);
}
/* Div 4 */
.footer {
    font-family: sans-serif;
    display: flex;
    justify-content: center;

    height: 40px;
    line-height: 40px;
    background-color: rgb(201, 201, 201);
}
